body{
font-family: Arial, Helvetica, sans-serif;
background-color: #fff;
margin: 0;
height: 100%;
}
header {
    background-color: #003049;
    color: #fff;
    gap: 20px;
}
.cards-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    height: 100%;
    gap: 20px;
}
.layout{
    display: flex;
    min-height: 100vh;
}
.cards-aside{
    flex: 0 0 250px;
    background-color: #fff;
    padding: 20px;
}

.menu-principal{
    flex: 1;
    padding: 20px;
}
.card-menu{
    border: #003049 solid 1px;
    margin-top: 1vh;
    border-radius: 8px;
    height: 100px;
    width: 800px;
     padding: 20px;
}
.cards{
    border: #003049 solid 1px;
    margin-top: 1vh;
    border-radius: 8px;
    height: 15  0px;
    width: 300px;
    padding: 20px;
}
footer{
    background-color: #003049;
    color: #fff;
    text-align: center;
    padding: 10px;
   min-height: 3vh;
}
.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex :1;
    min-height: 100vh;
}
@media (max-width: 768px) {
.main {
flex-direction: column;
}
.cards-aside{
    flex:1 1 auto;
}
.menu-principal{
    flex:1 1 auto;
}
}